@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Safe area insets for iPhone bottom bar */
.safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
